# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
venv/
current

# Ignore extensions configuration
extensions/config.py

# For testing (to be removed or incorporated later)
localtest.py
start_localtest.sh
html_utils_local_test.py

# Ignore video files
*.mp4
*.flim