# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
venv/
current

# Ignore all instances of config.py
**/config.py

# Ignore video files
*.mp4
*.flim

# Other
extensions/youtube
**/cached_images/
**/.DS_Store