# To enable extensions, rename this file to "config.py"
# and fill in the necessary API keys and other details.

# Store API keys and other configuration details here:
# OPEN_AI_API_KEY = "YOUR_OPENAI_API_KEY_HERE"
# ANTHROPIC_API_KEY = "YOUR_ANTHROPIC_API_KEY_HERE"
# MISTRAL_API_KEY = "YOUR_MISTRAL_API_KEY_HERE"
# KAGI_SESSION_TOKEN = "YOUR_KAGI_SESSION_TOKEN_HERE"

# Used by weather extension (which currently only works for United States)
# ZIP_CODE = "YOUR_ZIP_CODE"

# Uncomment lines to enable desired extensions:
ENABLED_EXTENSIONS = [
	#"chatgpt",
	#"claude",
	#"hackaday",
	#"hacksburg",
	#"hunterirving",
	#"kagi",
	#"mistral",
	#"notyoutube"
	#"npr",
	#"reddit",
	#"waybackmachine",
	#"weather",
	#"websimulator",
	#"wiby",
	#"wikipedia",
]
