[Unit]
Description=Macproxy service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/user/macproxy/start_macproxy.sh
SyslogIdentifier=MACPROXY

[Install]
WantedBy=multi-user.target
