# To enable extensions, rename this file to "config.py"
# and fill in the necessary API keys and other details.

# Store API keys and other configuration details here:
# open_ai_api_key = "YOUR_OPENAI_API_KEY_HERE"
# anthropic_api_key = "YOUR_ANTHROPIC_API_KEY_HERE"

# Used by weather extension (which currently only works for United States)
# zip_code = "YOUR_ZIP_CODE"

# Uncomment lines to enable desired extensions:
ENABLED_EXTENSIONS = [
	#"chatgpt",
	#"claude",
	#"hackaday",
	#"hacksburg",
	#"hunterirving",
	#"npr",
	#"override",
	#"reddit",
	#"waybackmachine",
	#"weather",
	#"websimulator",
	#"wiby",
	#"wikipedia",
	#"notyoutube"
]
